@import "tailwindcss";

:root {
  --red-armenian: #D90012;
  --blue-armenian: #0033A0;
  --orange-armenian: #F2A800;
}

@theme {
    --color-red-armenian: var(--red-armenian);
    --color-blue-armenian: var(--blue-armenian);
    --color-orange-armenian: var(--orange-armenian);
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: #242424;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, var(--red-armenian), var(--blue-armenian), var(--orange-armenian));
	border-radius: 16px;
}


